.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first {
  display: flex;
  align-items: center;
}

.time {
  font-size: 12px;
}

.social-logo {
  height: 25px;
  padding-left: 20px;
}

.title {
  font-size: 12px;
  padding-left: 10px;
}

.url {
  color: #64748b;
  font-size: 12px;
  padding-left: 10px;
}
.button {
  border: none;
  background-color: transparent;
}
